.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 100%;
  height: auto;
}

.footer {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.copyright {
  margin: 4px 0;
}
